<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExampleApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ExampleXPCService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ReactiveXPC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>726504B61BC8C07F00173660</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>726504C01BC8C07F00173660</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72D53BB91BC9CB6600DF78BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72D53BCA1BC9CB8000DF78BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
